<h1 class="userpage__title"><%= @title = 'ユーザページ' %></h1>
<p id="user-id"><%= @user_id %></p>
<p id="user-name"><%= @name %>さん</p>
<div id="user-page">
  <div class="row s12">
    <a class="col s2 waves-effect waves-light btn-large user-page__button" type="button" id="attend">出勤</a>
    <div id="attend-message" class="user-page__vertical"></div>
  </div>
  <div class="row s12">
    <a class="col s2 waves-effect waves-light btn-large user-page__button" type="button" id="leave">退勤</a>
    <div id="leave-message" class="user-page__vertical"></div>
  </div>
  <div class="row s12">
    <a class="col s2 waves-effect waves-light btn-large user-page__button" type="button" id="view-paid-vacation">有給残数</a>
  </div>
</div>
<p>
  <a href=javascript:window.open(<%= "\"#{request.scheme}:#{app_path}/bookmarklet/attend\"" %>); >出勤ブックマークレット</a>
</p>
<p>
  <a href=javascript:window.open(<%= "\"#{request.scheme}:#{app_path}/bookmarklet/leave\"" %>); >退勤ブックマークレット</a>
</p>
