<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" type="text/css" href=<%= "#{css_path}/main.css"%>/>
    <title><%= @title %></title>
  </head>
  <body>
    <%== yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%== yield_content :javascript %>
    <script src=<%= "#{js_library_path}/materialize-css/bin/materialize.js" %>></script>
  </body>
</html>
